[2014-04-06 23:59] andresriancho opened #1 "Using in a third party software"
Note: This is not a bug, but an inquire on how to use this as a lib.

I'm building a software where I would like to run two commands in a terminal, which should be split in two vertically, and each command output should be displayed in one of the sides.

Would you say it is possible to do that with pymux? Which moving parts of your software should I use? Could you share some pseudo-code please? Th

[2014-04-07 21:46] #1 closed, assigned to nobody

[2015-05-19 14:37] Phrohdoh opened #2 "Missing asyncio_amp."
[code]

What else do I need to do to use pymux?

Thanks. :-)

[2015-11-27 16:29] rmkraus commented on #2
This could be added to the setup.py by adding the URL to the zip download into the requires list.

It can also be installed by typing:
[code]

[2016-01-03 13:17] stonebig opened #3 "Windows ?"
Hi Jonathan,

Happy New year 2016.

Does this work on Windows too ?

[2016-01-03 13:21] jonathanslenders commented on #3
Unfortunately, it does not work on Windows. (Or, not yet.)

The windows console is very different from a pseudo terminal, like we know on Linux and Unix. I think, that technically, it should be possible to make it compatible with Windows, but that would require many changes. So, this is maybe some thing that we can do in the future, but probably not very soon.

Happy new year for you too!

[2016-01-03 13:48] jonathanslenders commented on #2
Hi all,

The new version of pymux does not depend anymore on asyncio_amp. Just run ``pip install pymux`` on any Python version you want, and it should work.

Jonathan

[2016-01-03 13:48] #2 closed

[2016-01-03 19:18] zgrimshell opened #5 "Tag releases"
Can you tag (and if possible sign) releases so you make it easier for distribution maintainers download, package and update your software (I have Debian in mind in this case).

Thanks.

[2016-01-03 19:22] jonathanslenders commented on #5
Sure, I will do this.

[2016-01-03 19:22] zgrimshell commented on #5
Thanks a lot!

[2016-01-03 19:27] benatkin opened #6 "becomes unresponsive after `C-b .`"
I typed `C-b .` and rather than asking me which window position to move it to, giving an error, or doing nothing, it became unresponsive.

[2016-01-03 19:32] jonathanslenders commented on #6
Hi @benatkin,

Thanks a lot for reporting this. It's a bug indeed. (Happens on Python 2 only.) I'll fix it asap.

[code]

Jonathan

[2016-01-03 19:51] jonathanslenders commented on #6
Hi @benatkin,

This should be fixed in the following commit: https://github.com/jonathanslenders/pymux/commit/41c3e76493ef646b77e108f3a0f632241001d992

I will try to push a new release ASAP.

Jonathan

[2016-01-03 20:16] chriskuehl opened #8 "Writing crash reports to `/tmp/pymux.crash` might be insecure"
Hi,

Awesome project! I'm looking at some code in `main.py`:

[code]

I believe this is somewhat dangerous. An attacker can create a symlink like `/tmp/pymux.crash -> /etc/passwd`. If pymux running as the root user then crashes, pymux will write into the symlink, clobbering the file it points at (in this case, `/etc/passwd`).

Modern Linux kernels have protection against this as long as `fs.protec

[2016-01-03 20:44] jonathanslenders commented on #8
Hi @chriskuehl,
Thanks for pointing out this issue. That's important.

Both solutions look good to me. I'm not sure what the most common is. If you write a patch, I'd be happy to merge it. Thank you.

[2016-01-03 21:05] kseistrup opened #10 "Pymux doesn't honor $SHELL"
How does `pymux` decide which shell to start? It doesn't seem to honor the `SHELL` environment variable:

[code]

[2016-01-03 21:09] jonathanslenders commented on #10
Hi @kseistrup,

This is the code: https://github.com/jonathanslenders/pymux/blob/master/pymux/utils.py#L164
[code]

I'll take $SHELL into account.
Jonathan

[2016-01-03 21:14] kseistrup commented on #10
Thanks, I just found the `get_default_shell()` method.

Perhaps something like
[code]
could work.

[2016-01-03 21:15] jonathanslenders commented on #10
Fixed in: https://github.com/jonathanslenders/pymux/commit/d016782a44a39a1b9b4b75c06028953ba35b9afe

Thanks a lot for reporting this issue!

[2016-01-03 21:17] kseistrup commented on #10
Nice, thanks! :smile:

[2016-01-03 21:22] #10 closed

[2016-01-03 21:27] jonathanslenders commented on #6
A new release has been pushed to Pypi. Can you please try again?

[2016-01-03 21:28] jonathanslenders commented on #10
A new release has been pushed to Pypi. Could you try again?

[2016-01-03 21:29] kseistrup commented on #10
I `pip` installed from the git repos and it works like a charm.

[2016-01-03 21:40] kseistrup opened #11 "Paste in original terminal fails after pymux exit"
[code]
The terminal can be restored with a `reset`.

[2016-01-03 21:42] kseistrup commented on #11
PS: This is in `bash` on the `sakura` terminal emulator.
[code]

[2016-01-03 21:45] jonathanslenders commented on #11
Thanks for reporting!

[2016-01-03 22:00] kseistrup opened #12 "Pymux doesn't honor the $TMP or $TMPDIR variables"
I use [pam_tmpdir](https://packages.debian.org/libpam-tmpdir) in order to have a more secure directory for storing temporary files on a per user basis. The description reads:

Pymux creates its socket in `/tmp`, thus ignoring the `TMP` and `TMPDIR` variables.

In addition, `pymux` seems to give this socket permissions 0755. Perhaps it would be more prudent to restrict it to e.g. 0750 (umask 0027)?

[2016-01-03 22:28] atsepkov opened #14 "closing a pane does not go to previous pane"
Actions performed:

- split pane (orientation doesn't matter)
- split pane again
- close pane (I used `exit`)

Expected result (as in tmux):

- Focus goes back to previously active pane (in this case pane 1)

Actual result:

- Focus goes back to very first pane (pane 0)

Not so much of a bug but a convenience for saner flow.

[2016-01-03 22:29] kseistrup commented on #12
The solution is probably as easy as using the [tempfile.gettempdir()](https://docs.python.org/3.5/library/tempfile.html#tempfile.gettempdir) method.

[2016-01-04 00:47] williamstein opened #16 "feature request -- setw synchronize-panes on"
Wow, as a long-time user of tmux, I really like pymux!    To me the output buffering is even a feature, since I do all of my work in tmux via a web-based terminal (running/managing the https://cloud.sagemath.com service via itself).    However, I constantly use `setw synchronize-panes on` (say) to manage several servers at once. This seems to not be implemented in pymux yet, so I can't seriously u

[2016-01-04 03:01] odeits opened #17 "Double Exec?"
Line 102 of process.py

[code]

Should this not return the `os.execv`? it seems like it will call it for multiple hits in the path.

[2016-01-04 04:00] aarya123 commented on #17
os.execv(), from my understanding, takes over the process (in this case, tmux) and won't return
https://docs.python.org/2/library/os.html#os.execv

[2016-01-04 04:06] odeits commented on #17
You are correct. Closing

[2016-01-04 04:07] #17 closed

[2016-01-04 07:55] jnbrewster opened #18 "Pymux, vim and netrw can't load selected files with return."
Hey Jonathan,

Mac OS X (10.11.2), vim/macvim -v (7.4) and pymux has some problems with return/enter.
Return/enter fails to load selected files when exploring files in vim using :Ex and returns new lines instead.

- start pytmux, start vim, type :Ex, select file, hit return, cursor line moves down instead of loading selected file.

[2016-01-04 10:28] giann commented on #3
However it works perfectly well on cygwin

[2016-01-04 16:02] jonathanslenders commented on #16
Hi @williamstein ],

Thanks for the feedback! I think we can implement "synchronize-panes". But first I need to implement window options. (Currently, we only have global options.)

I will definitely consider it, but my focus will first be to improve the performance. (There are several things that I should improve.)

Jonathan

[2016-01-04 16:33] atsepkov opened #19 "Return key doesn't work in vimwiki"
Not sure whether this issue is related to https://github.com/jonathanslenders/pymux/issues/18

In vimwiki, enter key opens links in new buffer. When running vim inside pymux, enter key instead causes the cursor to jump to the line below (as if `j` is pressed).

[2016-01-04 16:51] jonathanslenders commented on #19
That could be the same issue. I think it has to do with the difference between cursor/application mode that I don't handle correctly yet.

I'll fix it asap. Thanks for creating the issue, I appreciate it!

[2016-01-04 16:51] jonathanslenders commented on #18
Hi @jnbrewster,
Possible, this has to do with the difference between application/cursor mode. I'll try to fix this asap.
Thanks for creating the issue!
Jonathan

[2016-01-04 17:49] stonebig commented on #3
`cygwin` could be a last resort solution, but I guess there is a catch.

[2016-01-04 20:21] #14 closed

[2016-01-04 20:22] jonathanslenders commented on #14
Fixed in: https://github.com/jonathanslenders/pymux/commit/6b40ace613d196b264acb3882244e79d033b2502

[2016-01-04 20:27] jonathanslenders commented on #12
Thanks for noticing! This is important.

[2016-01-04 20:28] #8 closed

[2016-01-04 20:47] #6 closed

[2016-01-05 00:34] pertrai1 opened #21 "zsh: command not found: pymux"
I am using iTerm and after installing, I get `zsh: command not found: pymux`. Thank you in advance for any help you can give me for fixing this. Look forward to using this.

[2016-01-05 06:36] jnbrewster commented on #21
Did you install python with brew or use built in python?
I had the same error with bash and had to override the default python with brew.

brew link --overwrite python

[2016-01-05 08:16] pertrai1 commented on #21
Hey, I did the brew link and I am still not able to get it to find the command. I will try to think of some more ideas on why this is happening. Once I find a solution I will add it here.

[2016-01-05 18:28] stonebig commented on #3
my favorite rådgiver says `cygwin` is a painfull solution https://github.com/ipython/ipython/issues/9107#issuecomment-168965899

[2016-01-06 05:13] atsepkov opened #24 "Sharing sessions between users (feature suggestion)"
Already mentioned this on reddit (https://www.reddit.com/r/Python/comments/3z9rwt/pymux_a_tmux_clone_in_pure_python/cyklk1q), but I think a really awesome feature for this would be support for sharing session while maintaining unique conf settings for each connected user, something tmux doesn't currently do, even with rogue mode.

What would be even more awesome (but this may be getting too comple

[2016-01-06 07:04] sxv opened #25 "Cursor highlighting does not work in vim over SSH in iTerm2"
I can highlight text with mouse in vim in tmux; doesn't work in pymux under the identical, following conditions:

SSHing from OSX 10.10.5 into Ubuntu Trusty, using iTerm2 Build 2.9.20141218-nightly

[2016-01-07 13:02] Anzumana opened #26 "Session Restore Feature"
Hey,
i was wondering if there are any plans to create something along the lines of
tmux resurrect for pymux.
Haven't seen it on the roadmap.
This is one of the key features of tmux for me.

I use a combination of Dropbox/ Symlinks and tmux -resurrect to synch 3 macs that i use.

[2016-01-07 19:11] jonathanslenders commented on #26
Hi @Anzumana,

I have been thinking about this, yes. But first I'm concentrating on making all the built-ins like tmux has working and very performant. When that's done, we can create something like tmux-resurrect.
In any case, the long term vision is that we should have something like that as well.

Jonathan

[2016-01-07 19:17] jonathanslenders commented on #24
Hi @atsepkov,

That's very interesting. Having individual key bindings for each user should probably be possible. (I'll have a look at that.)

About the second part, I'm not sure. Especially, I don't think it's up to a terminal multiplexer to implement permissions.

[2016-01-07 19:40] jaseg opened #27 "README: In comparison to tmux, entry on multiple clients/single session is inaccurate"
Mostly FYI, but an update of the corresponding point in the README might be warranted.

This is possible in tmux. You attach a second client via ``tmux new -t $sessionname`` instead of ``tmux attach -t $sessionname`` and ``set -g aggressive-resize on`` from your tmux config. This slightly differs in semantics from what is proposed in the README but works to the same effect.

[2016-01-07 19:50] jaseg opened #28 "README: In comparison to tmux, Unicode support might be noteworthy"
Hi,

after a quick test run I came to notice that (for me) a serious advantage of pymux over tmux is that it seems to more properly support unicode.

tmux has serious problems with non-ascii characters in the command line or window titles. To me, this mostly seems to stem from a lack of awareness on the part of the developers. I had a dive into the code once intending to fix this in tmux, but I qu

[2016-01-07 20:57] jonathanslenders commented on #21
A few questions:

- What is the output of ``which zsh`` outside of pymux?
- What is the output of  ``echo $PATH`` also outside of $PYMUX?
- What does ``$SHELL`` return?

(I guess this is indeed a bug.)

[2016-01-07 22:03] jonathanslenders commented on #27
Thanks, I didn't know about this. I will rephrase it.

[2016-01-07 22:13] jonathanslenders commented on #28
Hi @jaseg,

Thanks a lot! I added it to the readme.

If you think of any thing that can be done better, don't hesitate to create an issue. Personally, I also have enough ideas, so as long as the time allows me, pymux will keep improving.

[2016-01-08 00:34] pertrai1 commented on #21
Output of `which zsh` : `/usr/local/bin/zsh`
Output of `echo $SHELL`: `/usr/local/bin/zsh`
Output of `echo $PATH`:
[code]

[2016-01-08 18:57] jquast commented on #28
author of wcwidth here, such nice things to say about full-width support, glad to see it recognized :)

[2016-01-08 19:18] jonathanslenders commented on #28
Yeah, thank you for creating that, @jquast!
(I just added wcwidth to the readme as well.)

[2016-01-08 19:44] jonathanslenders commented on #16
Hi @williamstein,

synchronize-panes is implemented now: https://github.com/jonathanslenders/pymux/commit/369b1edaac6cf5e90b1c124ea7d2f94aa42d6edb

But performance has been improved significantly. This means that there is still some buffering, but pymux will probably generate more output than before. If this is now becoming an issue, I can probably add an option to make it render less often.

Jona

[2016-01-08 21:27] jonathanslenders commented on #11
Hi @kseistrup,

This commit should probably solve it: https://github.com/jonathanslenders/pymux/commit/9877c9ea8dc325a153c7bcb7e550dde26a069fc4

Thanks again for reporting!

[2016-01-08 22:40] kseistrup commented on #11
I'm sorry to report: not really. I can't mark text by clicking on it or by marking it with the mouse. It feels as if the mouse has been disabled.

[2016-01-10 04:13] oxbambooxo opened #29 "have default config file?"
i recommend create default config file in user's home directory after installed pymux success.

[2016-01-10 22:48] jonathanslenders commented on #29
Hi @oxbambooxo,

Thanks for the suggestion! I will think about it, but I'm still hesitating a bit. Mostly because I think a default config would be empty. Do you know whether tmux does have an option to generate a default config?

[2016-01-10 23:38] livibetter opened #31 "Pyte 0.5.1: ImportError: cannot import name ctrl"
It seems there is some changes in Pyte, using 70d99014208ecea7e828690fb9d11dfc66beb59e.

[code]

[2016-01-11 01:01] eas604 commented on #31
@livibetter, sorry if I broke your environment. :) Although I'm not sure how.

What are your values for `$TMPDIR` and `$TMP`? In python, what is the output of:

[2016-01-11 01:18] livibetter commented on #31
@eas604 I don't think it's Pymux, if I use **Pyte** 0.4.10, Pymux runs fine, Pyte 0.5.x was just released a few hours ago. So, I am pretty sure, it's Pyte.

But, I will still give you the information you asked, both environment variables are not set, as for in Python, that output is `/tmp`.

[2016-01-11 01:23] eas604 commented on #31
Ah, sorry, I mis-understood.

[2016-01-11 03:46] oxbambooxo commented on #29
sorry, i have not find the default config file after installed tmux in my system.
but i can use `C-b` as prefix key, so it is the default prefix key : <a href="http://www.openbsd.org/cgi-bin/man.cgi/OpenBSD-current/man1/tmux.1?query=tmux#x4b45592042494e44494e4753">tmux - KEY BINDINGS</a>

if not the default prefix key after the installed, this can not be "out of the box",
the user may be confused

[2016-01-11 10:13] jonathanslenders commented on #31
Fixed in https://github.com/jonathanslenders/pymux/commit/f3c94352f0b14002687bc9d1b7de20b323266e33

Thanks everyone. I pushed a new release.

[2016-01-11 10:13] #31 closed

[2016-01-11 21:10] tony opened #33 "FreeBSD breaks on startup"
[code]

[code]

[2016-01-12 22:59] #33 closed

[2016-01-13 01:32] ya790206 opened #35 "AttributeError: 'BetterScreen' object has no attribute 'report_device_status'"
Crash when running vim

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/pymux/main.py", line 500, in run_server
    PipeInput(), DummyCallbacks())
  File "/usr/local/lib/python2.7/dist-packages/prompt_toolkit/eventloop/posix.py", line 150, in run
    t()
  File "/usr/local/lib/python2.7/dist-packages/pymux/process.py", line 280, in _read
    process()
  File "/usr

[2016-01-13 23:13] jonathanslenders commented on #35
Hi @ya790206,
Thanks for reporting! This went wrong after the last release of ``pyte``. I'll fix it asap.
Jonathan

[2016-01-16 19:01] jonathanslenders commented on #12
Fixed by: https://github.com/jonathanslenders/pymux/commit/0e1b1642e758409068b1b0ef52b422a2f0222215

[2016-01-16 19:02] #12 closed

[2016-01-22 18:43] jonathanslenders commented on #35
Hi @ya790206,
This was fixed 8 days ago in https://github.com/jonathanslenders/pymux/commit/df949504b28fb73621a39552cd0fda3bdacafe10
I will do a new release soon.

[2016-01-22 18:43] #35 closed

[2016-01-22 18:43] jonathanslenders commented on #35
(Don't hesitate to create a new issue if you find other bugs.)

[2016-01-23 20:50] rapha8l opened #37 "Can't copy paste using third button in Linux"
Hi,
Tested on two  different systems, selecting text and copying using third button doesn't work
Thanks !

[2016-01-24 01:38] skydreamever opened #38 "how does it work on mac"
I've tried my best, but didn't make it yet.
The problem is I create a config file and try to use the key to split my window, it does't work.
By the way, I have test it in iterm and termial that osx provided

[2016-01-24 17:05] eas604 commented on #37
You may need to hold <kbd>Shift</kbd> when clicking for it to pass through to the terminal emulator. That's what I do with `gnome-terminal`.

[2016-01-25 10:11] amonsch commented on #38
How did you define your prefix key ? i had to use "set-option" instead of "set -g".

[2016-01-25 11:48] ya790206 commented on #18
`Return key` doesn't work in nerdtree in vim, too.
I think this is the same issue.

[2016-01-25 19:14] jonathanslenders commented on #18
Thanks!

[2016-01-26 10:32] rapha8l commented on #37
Thanks, in fact it works, though it the first program that needs using "shift" for third button copy

[2016-01-27 06:14] #38 closed

[2016-01-27 16:50] jonathanslenders commented on #37
The reason for this is that pymux requests the terminal to receive mouse events. That way we can for instance select panes on click. If you prefer not to have mouse support in pymux itself, that is possible by running the follow command in the <kbd>Ctrl-B</kbd><kbd>:</kbd> prompt:
``set mouse off``. Does it work that way?

[2016-01-28 08:24] dzosz opened #39 "UnicodeDecodeError in vim"
[code]
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8c in position 4: invalid start byte
Crash occurs on mate-terminal with both pyvim and vim, only when using mouse click to switch the panes. Default configuration.
![screenshot](https://cloud.githubusercontent.com/assets/13596691/12638688/8bf81498-c59f-11e5-8ea1-b7a92a40d616.png)
Sorry, pymux did not create a crash file in /tmp, nor in /

[2016-01-28 10:28] jonathanslenders commented on #39
Thanks a lot for reporting this bug! I appreciate it.
This should be a bug in the client part, that doesn't dump a stack, but this is already very helpful like this.
I will investigate next week. It shouldn't be hard to solve.
Jonathan

[2016-01-28 16:31] rapha8l commented on #37
Hi,

Thanks, indeed set mouse off works
I also wanted to try ^B page up to scroll up (like in Tmux) but it doesn't work. Is there another way to do this ?
Could it be possible to have a little doc with all options available ?
And just a last thing as I'm here :-) , maybe it'd be cleaner (on Linux/*BSD) to have the configuration located in $HOME/.config/pymux/ ?
Thanks again !

[2016-03-17 20:59] jonathanslenders opened #41 "Scroll bug."
Run ``find /`` for a while. Then execute ``clear``. The cursor will stay at the top making only the very last line visible.

Same issue happens when reducing the height of a window at a point where the cursor is at the top.

[2016-04-05 19:58] jonathanslenders commented on #41
This has been fixed.

[2016-04-05 19:58] #41 closed

[2016-04-05 20:07] jonathanslenders commented on #37
The ``^B page up`` key binding has been added.

(It goes in copy-mode, but doesn't yet do the page-up part. Press page-up again to go up. I need some changes in prompt-toolkit first in order to do the last part in a clean way.)

[2016-04-07 12:44] rapha8l commented on #37
Works great, thanks a lot

[2016-04-07 12:44] #37 closed

[2016-04-29 19:21] JohnLunzer commented on #39
I have run into this too. My traceback looks exactly the same.

[2016-04-29 19:24] jonathanslenders commented on #39
I think this was fixed in the following commit from three days ago: https://github.com/jonathanslenders/pymux/commit/0eafae809d29e5976f39533358b2a32cdaa285d8
(Not sure, but I'll verify again, and hopefully push a new release to pypi.)

Thanks everyone for reporting the bug!

[2016-04-30 15:59] JohnLunzer opened #42 "Traceback upon opening: unexpected keyword argument 'errors'"
I installed pymux from github clone taken at 11:55am ET April 30th 2016.

Traceback (most recent call last):
  File "/anaconda/bin/pymux", line 9, in <module>
    load_entry_point('pymux==0.9', 'console_scripts', 'pymux')()
  File "/anaconda/lib/python2.7/site-packages/pymux/entry_points/run_pymux.py", line 135, in run
    Client(socket_name).attach(true_color=true_color)
  File "/anaconda/lib/pyt

[2016-05-01 10:20] jonathanslenders commented on #42
Hi @JohnLunzer,

Thanks for reporting the issue!
Can you try again after cloning and installing the latest Git version from prompt-toolkit? The development of these two repositories goes hand in hand, so from time to time it doesn't work with the Pypi version of prompt-toolkit. Hopefully, I'll be able to push a new release of both soon.

Jonathan

[2016-05-02 11:39] JohnLunzer commented on #42
Did the trick. Thanks for the _prompt_ response.

[2016-05-17 03:56] cwt opened #43 "screen translator"
I would like to create a screen translation with a use case like this
- in pymux, cat a text file
- press control-B + : then type command "transtate English to Thai"
- pymux capture anything on screen and send to another translator online, such as bing or google translage, or maybe just an offline dictionary
- pymux replace text on screen with the result from translator

Which file and function I

[2016-05-18 19:06] jonathanslenders commented on #3
Some notes for myself, if Windows support would ever be feasible.
It's worth looking at the source code of ConEmu to see how these things work on Windows.

It appears that sub processes can be created by calling CreateProcess [0]. There is a flag ``CREATE_NEW_CONSOLE`` [1] that runs the child process in a separate console. And probably ``GetConsoleScreenBuffer(Ex)`` [2] should return the content o

[2016-05-20 06:12] tony opened #44 "OS X 10.11 crash on startup"
4c56c8478a1c6142a8cf04e3ecff2f82b78070cb

I haven't ruled out if this is due to 10.11's new features.

See http://stackoverflow.com/a/32906318 (OSError: dlopen(libSystem.dylib, 6): image not found)

[code]

[code]

[2016-05-20 21:37] jonathanslenders commented on #44
Thanks for pointing out!
This should fix it: https://github.com/jonathanslenders/pymux/commit/bc0e6bad0d9d57a9d14c5abc7be52f83fbdf7e16

Make sure to clone the latest prompt-toolkit before updating pymux. I'll try to push a new release asap.
Jonathan

[2016-05-20 23:22] tony commented on #44
Tested and confirmed to fix pymux on OS X 10.11

[2016-05-20 23:22] #44 closed

[2016-06-03 04:32] davidbrochart opened #45 "Selecting text with mouse doesn't work"
In bash I cannot select some text with the mouse. There is no highlighting and I cannot copy/paste. But it works in vim for instance.

[2016-06-03 04:43] davidbrochart opened #46 "Exiting a terminal crashes"
The minute I enter a command in a terminal, I get the following error when I enter `exit` (there is no error if I exit right after creating the tab):

[code]

[2016-06-03 19:23] jonathanslenders commented on #46
Thanks a lot for reporting this bug, @davidbrochart!

I'll try to fix this asap. What operating system are you using?

[2016-06-03 21:23] davidbrochart commented on #46
It's an old RedHat Entreprise Linux 5.7.

[2016-06-15 18:21] superbobry opened #47 "Backport BetterScreen into pyte"
Currently `BetterScreen` duplicates a lot of `pyte.Screen` functionality. Clearly duplication is no good when it comes to software, as the bugs need to be fixed independently in multiple copies of the code. The same goes for other maintenance changes like performance optimizations.

I would very much like to make `Screen` extensible so there is no need for duplication. Would you be interested in s

[2016-06-15 18:43] jonathanslenders commented on #47
Yes, I am interested. Personally, I don't have the time to do a lot of work on this right now, but all help is appreciated.

However, it's not necesarily easy. For a part, the duplication is because ``BetterScreen`` uses a different data structure. One that is very close to what prompt-toolkit internally uses. This makes the rendering *very* efficient. Many other changes are made in order to be as

[2016-06-23 06:02] superbobry commented on #47
Faster parsing and CPR were backported and released as 0.5.2, so `Screen` improvements are the next logical step.

Do you have a benchmark suite I can use to ensure there're no regressions?

[2016-06-23 08:53] jonathanslenders commented on #47
Hi @superbobry, there's a tool called ``vttest`` which tests xterm capabilities. It's mostly what I use, but not all of xterm is implemented.

[2016-06-23 09:26] superbobry commented on #47
Thanks for the pointer. I remember using `vttest` for `pyte` as well at some point, but IIRC it doesn't do performance testing, right?

[2016-06-23 10:04] jonathanslenders commented on #47
No, it doesn't. Sometimes I measure the time it takes to execute for instance ``time find /var``. Or if you want something with escape sequences. Just log the input of any interaction to a file and replay that.

[2016-06-30 18:23] superbobry commented on #47
Progress update: I've backported more `Stream` speedups. With the latest `master` `pyte.Stream` is on par with `BetterStream`.

| Benchmark           | `pyte.Stream`   | `pymμx.stream.BetterStream` |
|---------------------|----------------- |----------------------------- |
| `cat GPL-3`         | 41.8ms ± 0.6ms  | 41.7ms ± 0.5ms              |
| `find /etc`         | 92.7ms ± 2.3ms  | 92.0ms ± 3.7

[2016-07-03 20:58] superbobry commented on #47
Quick question before I proceed to `BetterScreen`. There seem to be quite a few changes compared to the original code. Do you happen to have any tests for them?

[2016-07-11 13:27] tmr232 commented on #45
Same thing happens to me with zsh over putty. Can't select any text using the mouse.

[2016-07-14 09:54] haridsv opened #49 "C-j as prefix causes <Enter> key to be treated as prefix"
In tmux, you can set C-j as the prefix, e.g.:

[code]

Somehow tmux is able to distinguish `Ctrl+j` and `<Enter>`, but pymux is unable to. In tmux, `<Enter>` continues to work just fine and `Ctrl+j` immediately gets recognized as prefix. In pymux, both are treated equally, so to enter a new line, I have to press `Ctrl+j` or `<Enter>` twice.

[2016-07-14 10:01] davidbrochart commented on #46
I have upgrated pymux and I have noticed that there is some improvement but now sometimes when I exit pymux freezes. Here is the stack trace:
[code]

[2016-07-14 10:10] haridsv commented on #49
Actually, I forgot that `<Enter>` is `Ctrl+m`, but this SO thread could be useful here: http://stackoverflow.com/a/14619214/95750

Perhaps pymux needs to do something equivalent of `nonl` in curses to avoid translating `Ctrl+m` to `Ctrl+j`? I am not familiar with python-prompt-toolkit but I didn't find anything by skimming through its documentation.

[2016-07-14 10:36] haridsv commented on #49
I tried this, but it didn't make a difference :(

https://github.com/haridsv/python-prompt-toolkit/commit/d39743cf4db7605806d363a746a2865deb1a91e9

[2016-07-14 11:18] Tset-Noitamotua commented on #3
would like to see it on windows (native, no cygwin or msys) ;-)

[2016-07-19 16:33] jczulian opened #50 "Binding Ctrl-h to some action prevent backspace to be working fine"
In my config file I have Ctrl-h bound to the previous-window command. Unfortunately having this setting makes also the backspace key triggering this command. This behavior prevent me to actually using backspace for what it is meant for.

You mention that ctrl-h and backspace are somehow the same key sequence. However in tmux I do have the similar setting and it works. So it might be possible to ha

[2016-07-20 20:40] jonathanslenders commented on #50
Hi @jczulian,

I just fixed the issue in this commit of prompt-toolkit: https://github.com/jonathanslenders/python-prompt-toolkit/commit/b586e477c374a78dd1808ac9818ea6be60b87ccc

If you have time, can you try to checkout the latest master branch of prompt-toolkit, install that and try again. If it doesn't work, we'll see tomorrow.

Cheers,
Jonathan

[2016-07-21 14:56] jczulian commented on #50
Hi @jonathanslenders,

I have just tried it, works perfectly. Thank you very much, I can now get back to using pymux instead of using tmux.

Keep the good work and thanks a million for your help.

[2016-07-24 10:48] haridsv commented on #49
I took another look and found that prompt-toolkit doesn't actually support treating `C-M` and `C-J` separately. In vt100_input.py, I noticed the below:

[code]

This means, the issue is with prompt-toolkit, not with pymux.

[2016-07-24 10:48] #49 closed

[2016-07-24 11:27] jonathanslenders commented on #49
Hi @haridsv,

I noticed that indeed we are replacing \r with \n. However this is not correct, and it needs to be fixed in prompt-toolkit. The hard part is that the enter key is supposed to send \r, not \n in most terminals. (If I recall correctly.) But some applications, like IPython bind a custom key to \n, for custom handling of the enter key. Changing this is a breaking change and unfortunately

[2016-08-02 06:55] amitkot opened #51 "Scrolling with mouse doesn't work"
In Vim within pymux it does work.

[2016-08-11 06:09] deeplook opened #52 "Auto-update status bar"
It seems like the lower status bar gets updated only when the user is typing into the terminal or clicks the mouse inside. So when it shows e.g. the current time this can be at least misleading. I've just checked, tmux does perform an auto-update.

Now turning this into a feature request: ideally it would be very useful to have hooks implemented as simple functions by the user, referenced by name/

[2016-08-12 13:11] zommuter commented on #3
@jonathanslenders Since you already mention ConEmu, its [`-inside` options](https://conemu.github.io/en/InsideParent.html) sound interesting.

[2016-08-12 13:14] zommuter commented on #3
Btw, when I try running pymux from msysgit's bash, I get an import error since [`fcntl` does not work with Windows](https://stackoverflow.com/a/1422436/321973). Maybe those functions could be made optional?

[2016-08-14 16:53] jonathanslenders commented on #52
Hi @deeplook,
Thanks for creating this issue. I think for tmux, the command is ``tmux set status-interval 1``. I propose that I will implement the same option, in order to stay compatible with tmux. Would that work for you?

[2016-08-14 20:39] deeplook commented on #52
@jonathanslenders If that works, fine with me. I'm not that much of a tmux/pymux power user. I noticed this buglet because I'd like to see some other crazy stuff (too big for a feature request) that I should better suggest to you directly by email (?).

[2016-08-15 09:33] jonathanslenders commented on #52
Hi @deeplook, this has been implemented in this commit: https://github.com/jonathanslenders/pymux/commit/2d62bb360c935364c594467be5625011a93a8868 (check out the master branch.)
Feel free to contact me directly by email for anything. (Find my address on my GitHub account page.)

[2016-08-15 09:34] #50 closed

[2016-08-15 09:39] jonathanslenders commented on #47
Hi @superbobry,

Sorry for the late reply. (I've been busy, lately.) For ``BetterScreen``, I don't have any tests. Almost everything that I tested was manually because of the visual feedback. I think it's not that easy to write good unit tests for this.

For the last few months, I've been using pymux fulltime for all my work. Actually, it never seems to crash, and all terminal applications that I

[2016-08-15 09:47] jonathanslenders commented on #46
Hi @davidbrochart, Thanks for this traceback!
I added a try/catch around this ``tcgetpgrp`` call: https://github.com/jonathanslenders/pymux/commit/77463d873380fe051eec0821bd6ebc082f1c4610

I'm not sure why it happens, maybe some timing issues. (It could be that the process group is not around when the process terminates, not sure.) But this should probably do it.

[2016-08-15 11:59] davidbrochart commented on #46
Thanks, I will try it out.

[2016-08-26 18:17] cclay commented on #51
Doesn't work either, using ubuntu 14.04

[2016-08-26 18:33] cschar opened #53 "Add support for 'bind-key S-Left' and 'bind-key S-Right'"
The following works in my local tmux.conf but I think it isn't supported in pymux (or in prompt_toolkit?)

[code]

[2016-08-29 16:21] jonathanslenders commented on #53
Thank you @cclay for this feature request.
It was not yet supported in prompt_toolkit. Now it is: https://github.com/jonathanslenders/python-prompt-toolkit/commit/6c76f472c76c35c70ea03f6fe6328d41b6fc6c3d

This pull request should do expose this functionality in Pymux: https://github.com/jonathanslenders/pymux/pull/54
I'll merge it after the next prompt_toolkit release.

[2016-08-29 16:22] #52 closed

[2016-08-29 17:28] jonathanslenders commented on #45
Hi @davidbrochart  and @tmr232,

This is caused by pymux taking control of the mouse by default.
Typ the command (``Ctrl-B :``):  ``set-option mouse off`` in order to turn mouse support off.

Otherwise, you could also hold down shift or control while selecting text. (Depending on the terminal.)

Actually, it's exactly the same as tmux, but mouse support has been enabled by default.

[2016-08-29 19:22] davidbrochart commented on #45
Thanks, I should have read the docs ;-)

[2016-08-30 15:53] davidbrochart opened #55 "Home / End key doesn't work in vim"
When I launch vim inside pymux, either the Home or the End key doesn't work (I have a Ubuntu system where End doesn't work, and a Red Hat system where Home doesn't work). Both Home and End work fine in the shell under pymux.

[2016-09-12 00:48] akatrevorjay commented on #55
Happens every time for me :'(

[2016-09-13 20:39] jonathanslenders commented on #55
Hi @davidbrochart and @akatrevorjay,
What operating system are you using? Which Python version?

Very recently I made a fix for OS X that made pymux crash in a certain situation. Can you verify whether it's still the case on the latest master.

Thanks!

[2016-09-14 07:07] davidbrochart commented on #55
OS: Ubuntu 12.04
Python 3.4.5 (Anaconda 2.4.0)

I updated pymux to the latest master but that didn't fix the bug.

[2016-10-24 13:29] PodioSpaz opened #56 "No Pane Tilebars?"
Hello,

None of my panes have a titlebar.  Am I missing a configuration setting?

Thanks

[2016-10-24 13:34] jonathanslenders commented on #56
Hi @PodioSpaz,

Yes, in the latest version, I turned them off by default, just like tmux.
Do ``Ctrl-B  : (colon)`` to go in command mode. Then type ``set-option pane-border-status on``.
Let me know if that doesn't work.

[2016-10-24 19:41] PodioSpaz commented on #56
Hello @jonathanslenders,

That worked. Thanks.

[2016-10-24 19:41] #56 closed

[2016-10-26 23:27] PodioSpaz opened #57 "Selecting Panes by Number"
Hello,

How can I select a pane by number?  `display-panes` doesn't seem to work for that purpose.

Thanks

[2016-11-12 14:40] melund opened #58 "Windows support"
I guess this is another feature request for prompt-toolkit, but it would be fantastic if the VT100 backend could be forced on windows. Having a terminal multiplexor in windows could be great.

Here is an example of pymux running in the windows terminal (conhost). It works great and really fast. It is not really Windows since it runs in the 'Windows subsystem for linux'. So it is the linux versions

[2016-11-12 16:16] jonathanslenders commented on #58
This is interesting, and definitely useful!

The difficult thing to make this work outside of the Linux subsystem is probably that there's no PTY available, and we need to emulate a native console. It's also on my wish list, but probably rather complex.

[2016-11-12 16:27] melund commented on #58
Ahh. Yes. I see the issue there. I think I read somewhere that the WSL team had such a task on their backlog.

 But still having having PTK support full VT100 on Windows would be nice, at least for the 24bit color.  I will try to figure if there is a way to detect if the console supports the new features.

[2016-12-11 19:48] sejktmcsdlmfhsc commented on #58
That would be great, if possible! I'd love have xonsh / pymux on my windows machine @work, too.
@melund what kind of linux subsystem did you get it to run? is it cygwin mingw or msys?

[2016-12-11 20:03] melund commented on #58
It is not msys or cygwin at all. As I understand they are Unix stuff built for windows.

I was running the 'Windows subsystem for Linux', which is a new feature in windows 10. It allows you to run the real user-mode binaries in a ubuntu subsystem on windows. I am no expert so you must read up on it yourself.
https://msdn.microsoft.com/en-us/commandline/wsl/about

Basically, it is is the real linux

[2016-12-17 19:51] jonathanslenders opened #59 "Bug: ValueError: list.remove(x): x not in list"
[code]

[2016-12-17 19:51] jonathanslenders opened #60 "Bug: AttributeError: 'Key' object has no attribute 'encode'"
[code]

[2016-12-21 14:37] jonathanslenders commented on #59
[code]

[2016-12-28 17:53] dothebart opened #61 "Library support?"
You mention in the readme that you may create a library from pymux. How far in the future is that plan?
I'm currently working on a shell ui for jenkins:
https://github.com/dothebart/jsh
and would need something to have parallel builds browseable in a smart way - like a multi window less.
The copy buffer is mentioned to be searcheable with hilighting - can it als work / tail a file?

[2016-12-28 18:32] jonathanslenders commented on #61
Hi Wilfried, there are still a few things that need to be done for this to work.
I'm working on some refactoring of the prompt_toolkit internal architecture. Right now, it's difficult to make parts of pymux reusable for other applications. But that's going to be fixed. (Giving a deadline is hard, but I hope to finish that part in the coming 6 months.) Then I need to rewrite parts of pymux and pyvi

[2016-12-28 18:36] jonathanslenders commented on #59
Fixed in: https://github.com/jonathanslenders/pymux/commit/9c9363dd5ff89b09e05581177a6cdc51ba35dcf7

[2016-12-28 18:36] #59 closed

[2016-12-28 18:46] dothebart commented on #61
Thanks a lot, so maybe it will become an option in the future. Thanks for the hint.

[2016-12-28 18:46] #61 closed

[2017-01-14 22:08] dragon788 commented on #58
If you run this under msys2 on Windows there is a `winpty` helper that allows you to run applications that need a real pty that behaves like a Linux one. It is typically called for single commands where the application can't be extended to handle Windows' process/pipe handling, but it might be a workaround for those OUTSIDE of the WSL mentioned above.

[2017-02-02 09:33] kseistrup opened #62 "No module named ‘prompt_toolkit.key_binding.defaults’"
Current pymux (announces itself as 0.13) cannot find `prompt_toolkit.key_binding.defaults`:

[code]

and

[code]

This is:

* pymux 0.13 on
* Python 3.6.0

on ArchLinux.

Installed dependencies:

* prompt_toolkit 1.0.9
  * wcwidth 0.1.7
* pyte 0.5.2
* six 1.10.0
* docopt 0.6.2

[2017-02-03 06:29] kseistrup commented on #62
This seems to have been a bug in prompt_toolkit 1.0.9: Version 1.0.13 just landed in ArchLinux and pymux no longer exhibits this bug.

[2017-02-03 06:29] #62 closed

[2017-03-08 03:04] cwt opened #63 "Freeze after a mouse click"
Not sure this is a problem on pymux or prompt-toolkit. After I upgrade prompt-toolkit from 1.0.9 to 1.0.10 or 1.0.13, pymux just freeze after I use a mouse click on my terminal, which I must run killall pymux on another terminal. Finally I have to revert prompt-toolkit back to 1.0.9.

edit: after upgrade prompt-toolkit to 1.0.14, it still freeze after a mouse click.

Environment:
- OS: Fedora 25 x

[2017-05-30 15:08] sethwoodworth opened #64 "AttributeError: 'BetterStream' object has no attribute 'percent'"
I get this traceback when `pymux` is installed with python2.7 and python3.5.  This is on Debian Stretch.

It looks like `pyte`'s version 0.6.0 release removed `Stream.percent`.
+ [as of 0.5.1](https://github.com/selectel/pyte/blob/0.5.1/pyte/streams.py)
+ [as of 0.6.0](https://github.com/selectel/pyte/blob/0.6.0/pyte/streams.py)
[code]

[2017-05-31 02:10] davidbrochart commented on #60
Hi Jonathan, any update on this?

[2017-05-31 20:03] jonathanslenders commented on #60
Hi @davidbrochart,

Could you remind me on how to reproduce it? I haven't looked at it for a while.
Right now, my focus is mainly on prompt_toolkit 2.0, then I'll rewrite pymux and pyvim on top of that.

[2017-05-31 20:04] #64 closed

[2017-05-31 20:44] davidbrochart commented on #60
It looks like since I switched to Python 3.6, pymux always freezes after a while, with this error in the stack trace. But if you are going to rewrite prompt_toolkit, it may not be worth looking at it.

[2017-06-02 23:19] trungphan opened #66 "Does this tool work?"
It never seems to work for me.
I install it with: pip install pymux
then: pymux
and the cursor just jumps to the top.

[2017-06-03 08:42] jonathanslenders commented on #66
Hi @trungphan,

Can you test the latest version of the "master" branch? There was an issue regarding compatibility with the latest Pyte version.

[2017-06-04 17:16] trungphan commented on #66
OK, thanks. With the sources, I do: python setup.py install and it seems to work

[2017-06-04 17:17] #66 closed

[2017-06-15 01:02] superbobry commented on #64
I think you can just swap `BetterStream` for `pyte.Stream` because the speed improvements are part of the 0.6.0 release.

[2017-07-12 16:37] davidbrochart opened #67 "Latest Pyte breaks"
Pyte 0.5.1 works well but the latest version (0.6.0) doesn't have attribute `percent` in class `Stream` any more (in `streams.py`), which is referenced by Pymux in `stream.py`.

[2017-07-15 03:43] MakinWavz opened #68 "Crash"
Traceback (most recent call last):
  File "/home/chris/code/intacct_env/tornado/lib/python3.5/site-packages/pymux/main.py", line 538, in run_server
    PipeInput(), DummyCallbacks())
  File "/home/chris/code/intacct_env/tornado/lib/python3.5/site-packages/prompt_toolkit/eventloop/posix.py", line 164, in run
    t()
  File "/home/chris/code/intacct_env/tornado/lib/python3.5/site-packages/pymux/serv

[2017-09-19 19:28] prabirshrestha commented on #58
Given that vim8 and neovim now have terminal seems like this could be possible using [winpty](https://github.com/rprichard/winpty).

Here is an equivalent issue in tmux https://github.com/tmux/tmux/issues/1029. But there are other things besides just pty that needs to be ported to windows.

[2017-10-12 12:50] XCanG opened #69 "import fcntl - error"
I've just installed pymux, but can't run it. Error:
[code]
P.S. installation output:
[code]

[2017-11-28 06:04] prabirshrestha commented on #58
Seems like someone has already written a python bindings for winpty at https://github.com/spyder-ide/pywinpty

[2017-12-01 13:47] vasilishin commented on #68
Hi @MakinWavz, attribute `percent` was remove from Stream class in this [commit](https://github.com/selectel/pyte/commit/941f05c108648ba76a1e87827b1983f8f34f6041) and released in **pyte 0.6.0** version. You should check you installed pyte version and must be `pyte>=0.5.1,<0.6.0`.

[2017-12-03 11:10] deeplook opened #70 "Missing overview of commands and shortcuts"
This is a great project! Thanks!

One comment I have is the following. The current README says about pymux vs tmux:

It would be helpful to have an overview of the commands actually supported by pymux. Otherwise people excited to use pymux must go learn about tmux first to find out its commands and will still not know in detail if pymux supports the same or not. This popular "tmux shortcuts & chea

[2017-12-03 13:54] jonathanslenders commented on #70
Agreed. So far I didn't had any time yet, but this would be good to have indeed.

[2018-02-03 12:41] John-P opened #71 "Bash tab completion not working"
When I attach to pymux pressing tab gives me a bell instead of doing the normal tab completion. Tab complete still work inside vim but not bash.

[2018-02-03 16:03] jonathanslenders commented on #71
Hi @John-P, which version of pymux and prompt_toolkit are you using?
Which terminal are you using? (I think it has something to do with your particular configuration, because it's supposed to work.)

[2018-02-03 18:57] John-P commented on #71
Hi @jonathanslenders I am using iTerm 2 (Build 3.1.5) connected to a red hat instance over ssh using GNU bash 4.2. Pymux version 0.14 and prompt_toolkit version 1.0.15.

[2018-02-03 19:07] John-P commented on #71
Just experimented a bit. Tab completion works when I make a split in pymux but not when I have just one shell.

[2018-03-05 20:15] thorstenkampe commented on #69
Same error here. `fcntl` is Posix only, so `pymux` is not designed to run on Windows.

[2018-05-15 06:35] haridsv commented on #49
@jonathanslenders With the latest fix in prompt-toolkit, I checked out 2.0 branch and the latest master from pymux and notice that the original issue is still there, i.e., every other Enter gets consumed. Is there anything else I am supposed to do? I am using the same config that I originally posted above.

[2018-06-17 13:04] jonathanslenders commented on #58
Hi @prabirshrestha and @melund, I'm working on this, but there are still a couple of things to be done.

If you have some time available, feel free to test the prompt-toolkit-2.0 branch from this repository, install ptterm (https://github.com/jonathanslenders/ptterm ), and install winpty.

``pymux standalone`` should work, but there are several other things I need in order to get this server/clien

[2018-06-17 13:41] melund commented on #58
Quite impressive.  I think @astronouth7303 may have some good input for this. He has mucked quite a bit with this for https://github.com/xonsh/slug

[2018-06-17 20:55] prabirshrestha commented on #58
@jonathanslenders This is awesome. Can't wait to use replace `ConEmu` with `pymux`.

Few things I noticed.
1. Would be good if `pywin32` was automatically installed as dependency. I had to manually type `pip install pywin32` to make it work.
2. Changing prefix seems to crash. This is currently the biggest blocker for me even if client/server doesn't work.

Here is the config
[code]

Here is the lo

[2018-06-17 21:01] jonathanslenders commented on #58
Thanks for pointing out. That's a bug, which is unrelated to Windows. I can fix that. I'll add pywin32 as well (I didn't realize I used an external package for that, actually.)

[2018-06-23 04:50] andrejli opened #72 "After start raises ImportError cannot import name 'AcceptAction'"
Traceback (most recent call last):
  File "/usr/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/andrejli/.local/lib/python3.6/site-packages/pymux/__main__.py", line 5, in <module>
    from .entry_points.run_pymux import run
  File "/home/andrejli/.local/lib/pyth

[2018-07-10 01:54] prabirshrestha commented on #58
@jonathanslenders any updates? Would like to give it a try again.

[2018-07-10 13:55] astronouth7303 commented on #58
`xonsh/slug` doesn't do overlapped IO, it spawns a thread for every piece of plumbing.

[2018-07-10 16:41] jonathanslenders commented on #58
Hi all, I managed to create a pure Python win32 pipe server/client using overlapped I/O. Hopefully, I have some time next weekend to complete the integration.

[2018-07-25 22:10] prabirshrestha commented on #58
Great improvements.

Here are some bugs I noticed when playing around.

1. If I run in admin mode I see some random text - `0;Administrator: `
![image](https://user-images.githubusercontent.com/287744/43229584-1da4a590-901a-11e8-92f7-a69cb4a20b02.png)

2. If I resize with panes, redraw is a bit slow. Takes almost 3-5sec for redraw.

3. Panes render correctly running standalone, if attached it rend

[2018-08-17 13:50] dCosminn commented on #69
Same issue here. Damn i tough this would work on Windows. :(

[2018-08-17 16:00] jonathanslenders commented on #69
Hi @dCosminn,

The latest master branch should run on Windows 10, but only using ``pymux standalone`` for now.
I didn't release it yet, because it's not completely stable yet.

It depends on prompt_toolkit 2.0 and uses yawinpty. Given that yawinpty was removed from GitHub and that winpty is already a hack to begin with, I'm waiting for the next Windows release that supports true PTYs. This will ma

[2018-08-29 07:46] cirosantilli opened #73 "pymux split-window splits window but the new window is stuck without a terminal"
On gnome terminal:

    pymux

Inside pymux:

    pymux split-window

And Ctrl-B shortcuts stop working, e.g. Ctrl-B C.

pymux==0.14 Ubuntu 18.04.

[2018-09-07 03:16] wonderbeyond opened #74 "pymux ui freezed"
I do some keystrokes I cant remember, then pymux stops responding.

After a minute, I killed the process. I can see a crash log:

[code]

[2018-09-10 09:37] mmngreco commented on #69
The same problem. I was going to run it on a win 7, so, someone knows if there is a workaround for this problem?

[2019-02-27 19:37] Script-Cowboy commented on #45
Are there any ways to make is so that you can copy text from one pane to another without selecting text from another?
|-----------|----------|
|                |      1       |
|       0       |__________|
|                |        2     |
|___________|_____ ____|

For example, if wanted to select output from a multi line output from 1 and paste it in 2 it would also select text from 0. Any ideas?

[2019-05-09 22:19] analogrithems opened #76 "Is there a way to use pymux in an code?"
Not a bug but a question/feature request.  I'm trying to find out how to use pymux with docker-py to shell into containers.  I want one window to be the container shell and the other to tail the logs.  I've done this in bash already, but I'd like to have it python to simplify features.

I want to be able to spawn a window and pass it a function to start running.  I know I can call it with an execu

[2019-06-17 08:21] #43 closed

[2019-06-17 08:22] #63 closed

[2019-07-24 19:28] tamwile commented on #53
I think we can close this one ?

[2019-07-25 09:02] #53 closed

[2019-10-12 06:14] XVilka opened #77 "BiDirectional text support"
In the modern world, the support for some languages that are right-to-left and mixing them with left-to-write words and numbers is crucial for a different software. At some point, this should be supported everywhere, including the console.

I started to gather the information about BiDi support in various console terminals (and programs) in analogy with true color crusade at https://gist.github.co

[2020-04-24 03:10] QiangF opened #79 "X clipboard integration"
It will be nice to share the clipboard with X if running in a graphical environment.

[2020-06-08 04:37] jquast commented on #28
I might also like to bring attention to https://github.com/jquast/ucs-detect/ -- with the latest version of the wcwidth library, we can now detect and select the most appropriate version of unicode by exporting an environment variable, ``UNICODE_VERSION`` as demonstrated by this ucs-detect utility.

I wrote about it more detail here, https://jeffquast.com/post/terminal_wcwidth_solution/ (i was abo

[2020-06-08 08:29] jonathanslenders commented on #28
Hi @jquast: thank you so much for working on that. I'm going to read the article!

[2020-06-17 17:30] espoelstra commented on #74
In some shells `Ctrl+s` and `Ctrl+q` pause and resume input and output so if the shell gets the keystroke instead of `pymux` it will stop sending anything to the foreground process and this may cause the failure you are seeing.

I used to run into this frequently while working in `vim` because switching between files in splits uses `Ctrl+w` which is right between `Ctrl+s` and `Ctrl+q`.

[2020-11-10 15:01] asmodehn commented on #76
I have a somewhat related request : I would like to have, in a single async python process, a multi-window input/output.
For example running ptpython on the left window, and visualize some dynamic log output on the right window.

The difference however, is that these would not be "process" in the usual OS sense, but multiple coroutines running as tasks in the background, inside only one python pro

[2021-06-29 01:39] RyannDaGreat opened #81 "Resizing Panes with Mouse"
Is it possible to resize panes by clicking and dragging? Tmux supports this out of the box.
A bit earlier I sent a pull request to Prompt-Toolkit that added support for dragging with the mouse and right clicking etc that, if accepted would give the input capabilities needed for this.
Would this be a feature worth pursuing, and if so how could it be done? I'll submit a pull request with this featur

[2021-07-26 21:10] SLAYER-CODE commented on #69
Error IPYTHON
(tensor) C:\Windows\system32>ipython
Traceback (most recent call last):
  File "c:\users\admin\anaconda3\envs\tensor\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\users\admin\anaconda3\envs\tensor\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\ADMIN\anaconda3\envs\tensor\Scripts\ipython.exe